export(anova.models)
export(as.data.frame.models)
export(as.matrix.models)
export(ask)
export(ask.plot)
export(create.multiplot)
export(create.plot)
export(merge.models)
export(multiplot)
export(plot.models)
export(print.models)
export(train.models)
